@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Ensure no horizontal scrolling */
}

body {
    font-family: 'JetBrains Mono', monospace;
    /* font-family: 'IBM Plex Mono', monospace; */
    background-color: #2e3440;
    color: #d8dee9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}

/* Styles for Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e3440; /* Terminal background color */
    color: #d8dee9; /* Terminal text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it's above other content */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    border: none; /* Remove any default border */
}

#loading-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* animation: typing 2s steps(12, end); */
    border-right: 2px solid #8fbcbb; /* Cursor effect */
    padding-right: 2px; /* Cursor effect */
    vertical-align: middle; /* Align vertically with the terminal prompt */
    margin-top: -3px; /* Fine-tuning to align perfectly */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Hide content initially */
.content {
    display: none;
    height: 100vh; /* Full viewport height */
}

header {
    width: 100%;
    background: #3b4252;
    color: #d8dee9;
    padding: 20px 0;
    text-align: center;
}

/* Sidebar Styles */
.sidebar {
    width: 200px; /* Width of the sidebar */
    height: 100vh; /* Full height of viewport */
    position: fixed; /* Fixed position */
    left: 0;
    top: 0;
    background: #3b4252;
    color: #d8dee9;
    padding-top: 20px; /* Optional: Add padding to top */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: space-between; /* Align items from the top */
}

.sidebar h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar img {
    width: 150px; /* Adjust image width */
    height: 150px; /* Adjust image height */
    border-radius: 50%; /* Make image round */
    margin-bottom: 10px; /* Optional: Add space below image */
    display: block; /* Ensure image is block-level element */
    margin: 0 auto; /* Center align the image */
}

.profile-picture {
    width: 150px; /* Adjust the width */
    height: 150px; /* Adjust the height */
    border-radius: 50%; /* Make the image round */
    border: 5px solid transparent; /* Set a transparent border */
    background: linear-gradient(45deg, #4c566a, #d4bfff, #8fbcbb); /* Your color palette */
    /* background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c0fe, #d5aaff); Gradient colors */
    background-clip: border-box; /* Ensure gradient shows inside the border */
    box-shadow: 0 0 0 5px #2e3440;
    /* box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); Optional: Add a shadow for a nice effect */
}

/* Ensure the navigation container is centered */
.sidebar nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    width: 100%; /* Full width of sidebar */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%; /* Full width of nav container */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
}

.sidebar nav ul li {
    width: 100%; /* Ensure each list item takes full width */
    text-align: center; /* Center text within list item */
    margin: 4px 0; /* Margin between items */
}

.sidebar nav ul li a {
    display: flex; /* Flexbox for uniform size */
    justify-content: center; /* Center the text */
    align-items: center; /* Center the text vertically */
    padding: 10px;
    color: #d8dee9;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%; /* Ensure the link takes the full width of the list item */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    border: 2px solid transparent; /* Transparent border initially */
}

.sidebar nav ul li a:hover {
    background-color: #4c566a;
    color: #ffc2e0;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a.active:hover {
    background-color: #4c566a;
    color: #ffc2e0;
    border: 2px solid #ffc2e0; /* Highlight the active item with a border */
}

/* Social Links Styles */
.social-links {
    margin-top: 0px; /* Adjust margin as needed */
}

.social-links ul {
    padding: 0;
    list-style: none;
}

.social-links ul li {
    margin: 5px 0; /* Reduced margin between social media links */
}

.social-links ul li a {
    color: #8fbcbb;
    font-size: 14px; /* Adjusted font size for social media links */
    font-weight: bold;
    display: inline-block; /* Ensures links are inline */
    padding: 8px 12px; /* Adjusted padding for better spacing */
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-links ul li a:hover {
    background-color: #4c566a;
    color: #d8dee9;
}

.social-links ul li a:focus {
    outline: none;
}

.sidebar-footer {
    text-align: center;
    color: #d8dee9;
    font-size: 0.60rem; /* Adjust to make it smaller than the body text */
    margin-top: auto; /* Push the footer to the bottom */
    margin-bottom: 5px;
}

main {
    /* width: calc(100% - 200px); Adjusted to accommodate the fixed sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px; /* Keep the sidebar width for margin */
    overflow-x: hidden; /* Ensure no horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling within the main content area */
    flex: 1;
}

main::-webkit-scrollbar-track {
    background: #3b4252;
}

main::-webkit-scrollbar-thumb {
    background-color: #d8dee9;
    border-radius: 10px;
    border: 3px solid #3b4252;
}

.section-content {
    /* min-height: 80vh; Adjust the height as needed */
    max-height: 100vh;
    width: 100%;
    display: none; /* Initially hide all sections */
    padding: 20px; /* Add some padding for content spacing */
    overflow: visible;
    /* min-height: calc(100vh - 40px); Ensure each section is at least the full height of the viewport minus padding */
    box-sizing: border-box; /*Ensures padding doesn't affect the size*/
}

/* Display the active section */
.section-content.active {
    display: block;
}

/* Flexbox for vertical alignment */
.section-content.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    width: 90%; /* Adjusted to fit within main without causing overflow */
    margin: 20px auto; /* Adjusted to center terminal within main */
    background-color: #3b4252;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border: 4px solid #4c566a;
    overflow-y: auto;
}

.terminal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c566a;
    padding: 10px;
    border-bottom: 2px solid #2e3440; /* Border at the bottom of header */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 4px solid #4c566a; /* Border left of the header */
    border-right: 4px solid #4c566a; /* Border right of the header */
}

.buttons {
    display: flex;
    gap: 8px;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative; /* Ensure the tooltip is positioned relative to the button */
    cursor: pointer; /* Indicate the button is interactive */
}

/* Tooltip container */
.button::after {
    content: attr(data-tooltip); /* Use the content from the data-tooltip attribute */
    position: relative;
    top: 190%;
    transform: translateX(-50%);
    background-color: #3b4252; /*Tooltip background */
    color: #d8dee9; /* Tooltip text color */
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* Prevent text wrapping */
    opacity: 0; /* Hide the tooltip by default */
    visibility: hidden; /* Prevent tooltip from being accessible */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Ignore pointer events on tooltip */
    z-index: 100; /* Ensure tooltip appears above other elements */
}

/* Show the tooltip on hover */
.button:hover::after {
    opacity: 1;
    visibility: visible;
}

.button.close {
    background-color: #bf616a;
}

.button.minimize {
    background-color: #ebcb8b;
}

.button.maximize {
    background-color: #a3be8c;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    color: #d8dee9;
}

.terminal-body {
    padding: 20px;
}

.terminal-prompt {
    color: #8fbcbb;
    font-weight: bold;
}

.project, .interest, .education, .experience {
    margin-bottom: 20px;
    padding: 20px;
    background: #434c5e;
    border-radius: 5px;
    color: #d8dee9;
}

.education-heading {
    font-size: large;
    line-height: 0.75;
}

.experience-heading {
    font-size: large;
    line-height: 0.75;
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: #434c5e;
    padding: 20px;
    border-radius: 5px;
    color: #d8dee9;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4c566a;
    background: #2e3440;
    color: #d8dee9;
    margin-bottom: 10px;
}

form button {
    background: #8fbcbb;
    color: #2e3440;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #88c0d0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #3b4252;
    color: #d8dee9;
    width: 100%;
    bottom: 0;
}

/* Smooth scrolling behavior */
html {
    scroll-behavior: smooth;
}

/* Section styling */
section {
    padding: 0px 0; /* Adjusted padding for sections */
    background-color: #2e3440;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .terminal {
        width: 90%;
    }
}

.orange-emphasis-terminal {
    color: #F5CBA7;
    font-weight: bold;
}

.yellow-emphasis-terminal {
    color: #FFFBCC;
    font-weight: bold;
}

.blue-emphasis-terminal {
    color: #A7C7E7;
    font-weight: bold;
}

.purple-emphasis-terminal {
    color: #d4bfff;
    font-weight: bold;
}

.pink-emphasis-terminal {
    color: #ffc2e0;
    font-weight: bold;
}

.blue-terminal {
    color: #A7C7E7;
}

.green-emphasis-terminal {
    color: #B8D8A5; /* Soft, muted green */
    font-weight: bold;
}

.green-terminal {
    color: #B8D8A5; /* Soft, muted green */
}

.magenta-terminal {
    color: #E4A4C9; /* Soft magenta */
}

.magenta-emphasis-terminal {
    color: #E4A4C9; /* Soft magenta */
    font-weight: bold;
}

/* Adjusting the spacing for list items in the Experience section */
.experience ul {
    /* list-style-type: none; Remove default list bullets */
    padding: 0; /* Remove default padding */
    margin: 1.0em; /* Remove default margin */
}

.experience li {
    margin-bottom: 0.7em; /* Add space between list items */
    line-height: 1.6; /* Improve readability with increased line-height */
}